.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.for-you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}
