.for-you__title {
  font-size: 22px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 16px;
}

.for-you__sub--title {
  font-weight: 300;
  color: #394547;
  margin-bottom: 16px;
}

.finished__books--block-wrapper {
  background-color: #f1f6f4;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px;
  border-radius: 12px;
  margin: 0 auto 56px;
  text-align: center;
}

.finished__books--title {
  color: #042330;
  font-weight: 600;
  font-size: 18px;
}

.finished__books--sub-title {
  color: #394547;
}

.for-you__recommended--books {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: mandatory;
  scroll-snap-type: x;
  margin-bottom: 32px;
}

.for-you__recommended--books-link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.book__image--wrapper {
  width: 172px;
  height: 172px;
}

.book__image{
    display: block;
    width: 100%;
    height: 100%;
}

.recommended__book--title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.recommended__book--author {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}

.recommended__book--sub-title {
  font-size: 14px;
  color: #394547;
  margin-bottom: 8px;
}

.recommended__book--details-wrapper {
  display: flex;
  gap: 8px;
}

.recommended__book--details {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #6b757b;
}

.recommended__book--details-icon {
  display: flex;
  width: 16px;
  height: 16px;
}
