.sidebar {
  background-color: #f7faf9;
  width: 200px;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s;
}

.sidebar--lifted {
  height: calc(100vh - 80px);
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  max-width: 160px;
  margin: 0 auto;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding-bottom: 20px;
  overflow-y: auto;
}

.sidebar__top {
  flex: 1 1;
  margin-top: 40px;
}

.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
}

.sidebar__link--line {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px;
}

.sidebar__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.sidebar__link--text {
  color: #032b41;
  font-size: 16px;
}

.sidebar__link--not-allowed {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    padding-bottom: 100px;
  }
  .sidebar--opened {
    transform: translateX(0);
    width: 80%;
  }
}
